<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="homeMapper">
	<select id="boardTenLim" resultType="tbVO">
		SELECT
			a.t_bno,
			a.t_title,
			a.t_content,
			a.t_regdate,
			b.t_category
		FROM
			tcode.t_board as a
		INNER JOIN
			tcode.t_category as b
		ON
			a.t_cno = b.t_cno
		ORDER BY 
			a.t_regdate DESC
		LIMIT 0, 10
	</select>
	
	<select id="getBestBoard" resultType="tbVO">
		<![CDATA[
			SELECT
				*
			FROM
				t_board
			ORDER BY
				t_viewcnt DESC
			limit 0, 1
		]]>
	</select>
</mapper>