@charset "UTF-8";

.mt-4{
	text-align:center;
}

.breadcrumb{
	width: 80%;
    margin: auto;
    box-shadow: 3px 3px 3px 3px grey;
}

.lay-2{
	margin: 0 auto 10px;
	display: inline-block;
    font-size: 15px;
    font-weight: 400;
    color: #444;
    line-height: 200%;
    border-bottom: 1px dashed #ddd;
    text-shadow: 1px 1px #dedede;
    word-break: break-word;
    text-align:center;
}

.lay-2-body{
	padding: 20px 15px 18px;
    background-color: #fff;
    border: 1px solid #ddd;
    line-height: 180%;
    word-break: break-all;
    margin: auto;
    width: 100%;
}

.list ul li {
    padding: 5px 10px 5px;
    list-style: none;
    font-size: 14px;
    border-bottom: 1px dotted #ddd;
}

.list ul {
    margin: 0;
    padding: 0;
    border-top: 1px dotted #ddd;
}

.list span.date {
    color: #666;
    float: right;
    font-size: 13px;
}

.list span.category{
	width: 9%;
    display: inline-block;
    text-align: center;
}

.list a {
    color: #000;
    text-decoration: none;
}

.list a:hover { 
	color: #07a; 
}